.cart-sidebar-discount {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 3rem;
}

#applied-discount-code {
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 1.2rem;
}

.applied-discount-code-wrapper {
  display: none;
  background: rgba(var(--color-foreground),.1);
  padding: .2rem .8rem;
  border-radius: .4rem;
  margin-left: 1rem;
}

.applied-discount-code-value > small {
  background: #eee;
  padding: 0 1rem;
  color: #000;
  font-weight: bold;
  border-radius: .4rem;
}

.applied-discount-code-value {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.applied-discount-code-value:empty + button {
  display: none;
}

#clear-discount-btn {
  background: transparent;
  border: 0;
  padding: 0;
  margin-left: 0.8rem;
}

#clear-discount-btn .svg-wrapper {
  width: 1rem;
  height: 1rem;
  background: transparent;
  border: 0; stroke: currentColor;
}

#discount-code-error {
  background: #ff00004f;
  color: #e22120;
  padding: 5px;
  border-radius: 4px;
  font-size: 13px;
  line-height: 1;
  margin-bottom: 1rem;
}

#discount-code-error:empty {
  display: none;
}

.discount-code-form {
  display: flex;
}

.discount-code-form input {
  background: #eee;
  border: .1rem solid #eee;
  height: 4.8rem;
  outline: none;
  font-size: 1.6rem;
  letter-spacing: 0;
  padding: 1rem 2rem;
  width: 100%;
}

.discount-code-form input:focus-visible {
  box-shadow: none;
}

.discount-code-form #apply-discount-btn {
  min-height: auto;
  height: 4.8rem;
  padding: 0.8rem 1.4rem;
  min-width: 18rem;
  --buttons-radius: 0;
  border-radius: 0;
  font-size: 1.4rem;
}

.loader {
  border: .5rem solid #f3f3f3;
  border-top: .4rem solid #000;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  animation: spin .5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}